@import "vars"
@import "fonts"
@import "libs"

body
	overflow: hidden
	height: 100%
	background-color: #22284b
*:active, :hover, :focus
	outline: 0
	outline-offset: 0
input:focus
	outline: 0
	outline-offset: 0
input:active
	outline: 0
	outline-offset: 0
button:active
	outline: none
button:focus
	outline: none
.clearfix
	content: ''
	clear: both
	display: table
.wrapper-screen .container-fluid
	width: 1022px
	margin-left: 0px
	margin-right: 0px
	height: 100vh
	position: relative
.nav
	position: fixed
	left: 0px
	height: 100%
	top: 0px
	width: 15.7%
	background-color: #171a2c
.wrapper-screen 
	width: 100%
	background-color: #22284b
	height: 100vh
	padding-left: 21%
	overflow: hidden
.nav__header-ul-menu
	list-style: none
	padding: 0
	margin: 19% 0 19% 0
.nav
	padding-left: 30px
	padding-top: 29px
.nav__header-li-menu
	padding-bottom: 6%
.nav__link-menu
	font-family: 'Roboto-Medium'
	color: #41445b
	font-size: 15px
.nav__link-menu:hover
	color: #fff
	text-decoration: none
.nav__link-menu:active
	color: #fff
	text-decoration: none
.nav__link-menu:focus
	color: #fff
	text-decoration: none
.logo__background
	width: 33px
	height: 33px 
	background-image: url(../img/sprite.png)
	background-repeat: no-repeat
	background-position: 0 0
	float: left
.logo__logo-text
	float: left
	font-size: 18.78px
	font-family: "GothamPro-Bold"
	color: #babbc1
.logo__span-text
	color: #072aba
.nav-bottom__list
	padding: 0px
	margin: 0px
	list-style: none
.nav__nav-bottom
	margin-bottom: 15px
.nav-bottom__list-first-element
	font-family: 'roboto-example'
	font-size: 15px
	color: #f2a929
	font-weight: bold
.nav-bottom__list-two-element
	font-family: 'roboto-example'
	color: 15px
	color: #b3b4b9
	font-weight: bold
	padding-top: 12px
.nav-bottom__span-arrow
	color: #f2a929
.nav__ru
	font-family: 'roboto-example'
	font-weight: bold
	font-size: 15px
	background-color: #fff
	color: #000
	border-radius: 5px
	float: left
	padding: 5px 20px
	margin-right: 14px
.nav__eng
	font-family: 'roboto-example'
	font-weight: bold
	font-size: 15px
	background-color: #121421
	color: #41445b
	border-radius: 5px
	float: left
	padding: 5px 20px
.wrapper-screen__yellow-block
	background-color: #f2a929
	width: 455px
	border-radius: 0px 15px 15px 0px
	padding: 10px 20px
	color: #181b2e
	font-size: 20px
	font-family: 'GothamPro-Black'
	letter-spacing: -0.3px
	margin-top: 55px
.wrapper-screen__title
	font-size: 50px
	font-family: 'GothamPro-Black'
	margin-top: 35px
	color: #fff
	font-size: 50px
	line-height: 1.1
	letter-spacing: -0.3px
.more-information__book
	background-image: url(../img/sprite.png)
	background-repeat: no-repeat
	height: 23px
	width: 23px
	background-position: 0 -49px
	float: left
.more-information__text
	font-family: 'Roboto-Medium'
	color: #f3f6fc
	font-size: 16px
	float: left
	margin-left: 8px
	text-decoration: none
	&:hover
		text-decoration: none
		color: #d29121
.more-information__span-arrow
	font-family: 'Roboto-Medium'
	font-size: 17px
	color: #f2a929
	font-stretch: condensed
.more-information__more-description
	font-family: 'Roboto-Light'
	color: #f3f6fc
	font-size: 16px
	display: block
.wrapper-screen__margin
	margin-top: 52px
	margin-left: 40px
.wrapper-screen__margin-two
	margin-left: 40px
	padding-top: 13px
.more-information__page
	background-image: url(../img/sprite.png)
	background-repeat: no-repeat
	height: 23px
	width: 23px
	background-position: 0 -95px
	float: left
.profitable-terms
	padding-top: 40px
.profitable-terms__left
	position: relative
	left: -26px
.profitable-terms__left_two
	position: relative
	left: -70px
.profitable-terms__icon
	width: 30px
	height: 30px
	background-image: url(../img/sprite.png)
	background-repeat: no-repeat
	background-position: 0 -148px
	float: left
.profitable-terms__icon_lock
	width: 30px
	height: 30px
	background-image: url(../img/sprite.png)
	background-repeat: no-repeat
	background-position: 0 -207px
	float: left
.profitable-terms__icon_circle
	width: 30px
	height: 30px
	background-image: url(../img/sprite.png)
	background-repeat: no-repeat
	background-position: 0 -262px
	float: left
.profitable-terms__text
	color: #f3f6fc
	font-family: "roboto-example"
	font-size: 15px
	float: left
	width: 225px
	margin-left: 7px
.buy-block
	width: 100%
	height: 180px
	background-color: #fff
	border-radius: 15px
	margin-top: 55px
	padding: 30px
.wrapper-screen__title-defult
	font-size: 50px
	font-family: "GothamPro-Black"
	color: #fff
	padding-top: 64px
	line-height: 1.1
.wrapper-screen__number
	color: #f2a929
	font-size: 50px
	font-family: "GothamPro-Bold"
	margin-top: 50px
.wrapper-screen__change-text
	color: #f3f6fc
	font-family: "GothamPro-Bold"
	font-size: 25px
	margin-top: 20px
.change-point__big-circle
	width: 25px
	height: 25px
	border-radius: 15px
	background-color: #f5f5f5
	position: relative
	margin-left: 15px
	float: left
	cursor: pointer
	color: #fff
.change-point__big-circle-one
	margin-left: 0px
.change-point__little-circle
	height: 10px
	width: 10px
	background-color: #16182b
	border-radius: 15px
	float: left
	margin-left: 14px
	margin-top: 8px
.change-poing__text-circle
	font-family: "GothamPro-Bold"
	font-size: 20px
	top: -35px
	margin-left: auto
	margin-right: auto
	text-align: center
	position: relative
.wrapper-screen__change-point
	position: absolute
	bottom: 70px
.wrapper-screen__two-text
	color: #f3f6fc
	font-size: 16px
	font-family: "Roboto-Light"
	margin-top: 30px
	line-height: 1.3
	width: 485px
.shadow-block
	width: 233px
	height: 350px
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4)
	border-radius: 15px
	margin-top: 48px
	background-color: #1e223b
	position: relative
.video-block
	background-color: #101222
	width: 460px
	height: 230px
	border-radius: 15px
	margin-top: 44px
.wrapper-screen__text-description-system
	color: #f3f6fc
	font-family: 'GothamPro-Bold'
	font-size: 18px
	margin-top: 28px
	margin-bottom: 12px
.wrapper-screen__more-information_display
	display: inline-block
	margin-right: 18px
.wrapper-screen__more-information_display-two
	display: inline-block
.wrapper-addventage__icon
	background-image: url(../img/sprite.png)
	background-repeat: no-repeat
	width: 27px
	height: 27px
	float: left
.wrapper-addventage__text
	color: #f3f6fc
	font-family: 'roboto-example'
	font-size: 15px
	width: 215px
	float: left
	margin-left: 12px
.wrapper-addventage__icon1
	background-position: 4px -315px
.wrapper-addventage__icon2
	background-position: 4px -363px
.wrapper-addventage__icon3
	background-position: 1px -411px
.wrapper-addventage__icon4
	background-position: 0px -454px
.wrapper-addventage__icon5
	background-position: 1px -506px
.wrapper-addventage__icon6
	background-position: 0px -557px
.wrapper-addventage__icon7
	background-position: 1px -607px
.wrapper-addventage__icon8
	background-position: 0 -658px
.wrapper-addventage__icon9
	background-position: 1px -713px
.wrapper-adventage
	padding-top: 43px
.wrapper-screen__text-low-procent
	color: #f3f6fc
	font-family: 'GothamPro-Bold'
	font-size: 18px
	width: 448px
	border-left: 4px solid #f2a929
	padding-left: 14px
	margin-top: 45px
	float: left
	span
		color: #f2a929
		border-bottom: 1px solid #f2a929
.shadow-block
	padding: 31px 20px 28px 28px
.shadow-block__get-name-smm
	color: #f3f6fc
	font-size: 14px
	font-family: 'roboto-example'
.shdow-block__short-title
	color: #f3f6fc
	font-size: 18px
	font-family: "GothamPro-Bold"
	line-height: 1.2
	padding-top: 3px
.shadow-block__text-materials
	color: #f3f6fc
	font-size: 14px
	font-family: 'Roboto-Light'
	margin-top: 7px
	position: relative
.shadow-block__read-more
	font-size: 15px
	font-family: 'roboto-example'
	font-weight: 700
	color: #a5772a
	position: absolute
	bottom: 25px
	left: 65px
	text-decoration: none
	&:hover
		color: #a5772a
.shadow-block_height
	height: 441px
.shadow-block__temmate-name
	color: #f3f6fc
	font-family: 'GothamPro-Bold'
	font-size: 18px
	margin-top: 17px
	line-height: 1.3
.shadow-block__speciality
	color: #f3f6fc
	font-family: 'roboto-example'
	font-size: 14px
	margin-top: 5px
.shadow-block__icon-fb
	background-repeat: no-repeat
	background-image: url(../img/sprite.png)
	background-position: 0 -764px
	width: 21px
	height: 22px
	display: inline-block
	margin-top: 10px
.shadow-block__icon-l
	background-repeat: no-repeat
	background-image: url(../img/sprite.png)
	background-position: -20px -763px
	width: 21px
	height: 22px
	display: inline-block
	margin-top: 10px
.wrapper-screen__icon-letter
	height: 23px
	width: 26px
	background-image: url(../img/sprite.png)
	background-repeat: no-repeat
	background-position: 0 -809px
	display: inline-block
	margin-top: 35px
.wrapper-screen__email
	display: inline-block
	font-family: 'roboto-example'
	font-size: 15px
	color: #f3f6fc
	position: relative
	top: -6px
	margin-left: 10px
	margin-top: 35px
.my-contacts
	margin-top: 20px
.my-contacts__telegram
	width: 35px
	height: 30px
	background-image: url(../img/sprite.png)
	background-repeat: no-repeat
	background-position: 0 -853px
	float: left
	margin-right: 18px
.my-contacts__M
	width: 35px
	height: 29px
	background-image: url(../img/sprite.png)
	background-repeat: no-repeat
	background-position: -7px -997px
	float: left
	margin-right: 18px
.my-contacts__bit
	width: 35px
	height: 30px
	background-image: url(../img/sprite.png)
	background-repeat: no-repeat
	background-position: 0 -966px
	float: left
.block-confident
	position: absolute
	bottom: 45px
	left: 0
.block-confident__text-politica
	color: #f3f6fc
	font-family: 'roboto-example'
	font-size: 15px
	text-decoration: underline
	&:hover
		color: #f3f6fc
.block-confident__s2018
	color: #f3f6fc
	font-family: 'Roboto-Light'
	font-size: 14px
.questions
	width: 380px	
	height: auto
	background-color: #1e223b
	margin-top: 45px
	border-radius: 15px
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4)
	overflow: hidden
.questions__punct
	color: #f3f6fc
	font-family: 'GothamPro-Bold'
	font-size: 18px
	width: 313px
	margin-left: auto
	margin-right: auto
	line-height: 1.4
	cursor: pointer
.questions__punct-one
	padding-bottom: 13px
	padding-top: 23px
	border-bottom: 1px solid #2e3458
.questions__punct-two
	padding-top: 13px
	padding-bottom: 13px
	border-bottom: 1px solid #2e3458
.questions__punct-three
	padding-top: 13px
	padding-bottom: 13px
	border-bottom: 1px solid #2e3458
.questions__punct-four
	padding-top: 17px
	height: 85px
.questions__active
	width: 100%
	background-color: #f2a929
	padding-left: 30px
	padding-right: 30px
	color: #181b2e
.change-text-questions
	color: #f3f6fc
	font-size: 15px
	font-family: 'roboto-example'
	margin-top: 60px
.change-text-questions1
	display: block
.change-text-questions2
	display: none
.change-text-questions3
	display: none
.change-text-questions4
	display: none
.shadow-block_background-1
	background-image: url(../img/system.png)
	background-repeat: no-repeat
	background-position: 105px 200px
.shadow-block_background-2
	background-image: url(../img/system.png)
	background-repeat: no-repeat
	background-position: -159px 199px
.shadow-block_background-3
	background-image: url(../img/system.png)
	background-repeat: no-repeat
	background-position: -418px 200px
.shadow-block_background-4
	background-image: url(../img/system.png)
	background-repeat: no-repeat
	background-position: -680px 198px
.buy-block__title
	color: #181b2e
	font-size: 35px
	font-family: 'GothamPro-Black'
	line-height: 1
	position: relative
	top: -5px
.value-buy__line
	float: left
	width: 100%
	height: 15px
	background-color: #d6d6d6
	position: relative
.wrapper-value-buy
	width: 720px
	margin-top: 30px
	float: left
.value-buy__start-part
	width: 20%
	height: 15px
	background-color: #f2a929
	position: relative
	float: left
.value-buy__cap-part
	width: 3px
	float: left
	height: 15px
	background-color: #fff
	position: relative
.value-buy__last-part
	width: 20%
	height: 15px
	background-color: #f2a929
	float: left
	border-radius: 0 10px 10px 0
	position: relative
.value-buy__text-start
	position: absolute
	color: #f2a929
	font-family: 'roboto-example'
	font-weight: 700
	left: 0px
	top: -25px
	font-size: 15px
.value-buy__text-cap-part
	position: absolute
	font-family: 'roboto-example'
	font-weight: 700
	font-size: 13px
	white-space: nowrap
	color: #868790
	left: -29px
	top: 19px
	line-height: 1.3
.value-buy__text-last
	position: absolute
	color: #000
	font-family: 'roboto-example'
	font-weight: 700
	right: -35px
	top: -25px
	font-size: 15px
.value-buy__end-text-1
	position: absolute
	color: #f2a929
	font-family: 'roboto-example'
	font-weight: 700
	right: 0px
	top: -25px
	font-size: 15px
.value-buy__end-text-2
	position: absolute
	font-family: 'roboto-example'
	font-weight: 700
	font-size: 13px
	white-space: nowrap
	color: #868790
	right: 0px
	top: 19px
.value-buy__end-line
	position: absolute
	right: 0px
	width: 2px
	height: 20px
	background-color: #a4a5a9
	top: -2px
.buy-tokens
	float: left
	background-color: #f2a929
	color: #181b2e
	font-family: 'roboto-example'
	font-weight: 700
	padding: 7px 29px
	border-radius: 5px
	border: 0px
	font-size: 20px
	margin-left: 38px
	margin-top: 11px
	cursor: pointer
.how-it-work-img
	display: none
	margin-top: 30px
.how-it-work1
	display: block
.wrapper-text-how
	display: none
.wrapper-text-how1
	display: block
.change-point__inner-circle
	width: 15px
	height: 15px
	border-radius: 15px
	background-color: #e9a227
	position: absolute
	top: 5px
	left: 5px
	visibility: hidden
.change-point__big-circle:hover .change-point__inner-circle
	visibility: visible
.active-circle
	width: 35px
	height: 35px
	border-radius: 20px
	background-color: #e9a227
	position: relative
	top: -5px
	color: #e9a227
.problem-solution
	margin-left: 16px
.problem-solution1
	display: block
.problem-solution2
	display: none
.traditional-system
	color: #181b2e
	font-family: 'roboto-example'
	font-size: 20px
	font-weight: 700
	border: 0px
	background-color: #f5f5f5
	border-radius: 5px 0 0 5px 
	padding: 10px 22px
	display: block
	float: left
	cursor: pointer
.CyptoLoan
	color: #181b2e
	font-family: 'roboto-example'
	font-size: 20px
	font-weight: 700
	border: 0px
	background-color: #9194a5
	border-radius: 0px 5px 5px 0px 
	padding: 10px 22px
	display: block
	float: left
	cursor: pointer
.two-button
	margin-top: 60px
	margin-left: 13px
.img-token
	margin-top: 50px
.img-mobile-token
	display: none
	margin-top: 50px
.nav-bottom__sign-in
	color: inherit
	text-decoration: none
	&:hover
		text-decoration: none
		color: inherit
.room-investor
	width: 485px
	line-height: 1.3
	color: #f3f6fc
	font-family: 'roboto-example'
	font-size: 15px
	margin-top: 30px
.mine-form
	width: 520px
	margin-top: 35px
.mine-form__input
	display: block
	width: 232px
	height: 44px
	margin-right: 20px
	background-color: #141726
	color: #b1b4bc
	font-family: 'roboto-example'
	font-size: 15px
	padding-left: 24px
	padding-right: 10px
	border: none
	border-radius: 5px
	float: left
	margin-bottom: 20px
	&::placeholder
		color: #575a67
		font-family: 'roboto-example'
		font-size: 15px
.get-acces
	color: #181b2e
	font-family: 'roboto-example'
	font-size: 15px
	font-weight: 700
	background-color: #f2a929
	border: 0px
	border-radius: 5px
	padding: 10px 56px 15px 56px
.grafic
	margin-top: 50px
.grafic-block
	width: 233px
	background-color: #1d2139
	height: 100vh
	position: relative
.grafic-block__text
	font-family: 'GothamPro-Bold'
	font-size: 20px
	color: #6c79c3
	position: absolute
	top: -15px
	z-index: 5
.grafic-block__line
	width: 154px
	background-color: #6c79c3
	height: 11px
	display: inline-block
	border-radius: 0 5px 5px 0
	margin-left: 15px
.grafic .slick-next
	top: -65px
.grafic .slick-prev
	top: -65px
.grafic .sl-slide
	padding-top: 10px
.grafic-block__text_active
	color: #e9a227
.grafic-block__line_active
	background-color: #e9a227
.grafic .sl-slide-padding-6
	padding-top: 10px
.grafic .sl-slide-padding-5
	padding-top: 45px
.grafic .sl-slide-padding-4
	padding-top: 80px
.grafic .sl-slide-padding-3
	padding-top: 115px
.grafic .sl-slide-padding-2
	padding-top: 150px
.grafic .sl-slide-padding-1
	padding-top: 185px
.nav__logo
	text-decoration: none
#touch-menu
	display: none
	color: #000
	font-family: "goemetria"
	text-decoration: none
	text-align: center
	height: 40px
	line-height: 40px
	z-index: 5
	position: relative
	float: right
	margin-top: 9px
	margin-right: 4%
	z-index: 100

.container-button
  	display: inline-block
  	cursor: pointer

.bar1, .bar2, .bar3
  	width: 30px
  	height: 5px
  	background-color: #fff
  	margin: 6px 0
  	transition: 0.4s

.change
  	.bar1
   		-webkit-transform: rotate(-45deg) translate(-9px, 6px)
    	transform: rotate(-45deg) translate(-9px, 6px)
  	.bar2
    	opacity: 0
  	.bar3
    	-webkit-transform: rotate(45deg) translate(-8px, -8px)
    	transform: rotate(45deg) translate(-8px, -8px)
.wrapper-screen__hidden
	display: none
.wrapper-screen__hidden-two
	display: none
.nav__logo_mobile
	display: none
.active a
	color: #fff
.questions__toggle-text
	display: none
	margin-top: 21px
	color: #f3f6fc
	font-size: 15px
	font-family: 'roboto-example'

@import "media" // Always at the end
