@import "vars"


/*==========  Desktop First  ==========*/


//Extra large: ≥1200px
+media-breakpoint-down(xl)

//Large: ≥992px
+media-breakpoint-down(lg)
	br
		display: none
	.determination-psoriaz
		width: 90%
		margin-left: auto
		margin-right: auto
	.actual-question
		width: 90%
		margin-left: auto
		margin-right: auto
	.picture-one
		width: 90%
	.picture-two
		width: 90%
	.picture-three
		width: 90%
	.wrapper-firs-table
		width: 90%
	.pop-up-annotation
		width: 90%
		left: 5%
		br
			display: block
	.pop-up-literal
		width: 90%
		left: 5%
		br
			display: block
//Medium: ≥768px
+media-breakpoint-down(md)
	.name-effect-rus
		margin-top: 25px
		margin-bottom: 10px
	.wrapper-two-table table
		font-size: 15px
//Small: ≥576px
+media-breakpoint-down(sm)
	.header
		height: auto
		background-size: cover
	.title-site-bg
		margin-left: auto
		margin-right: auto
		text-align: center
	.title-site
		margin-left: auto
		margin-right: auto
		text-align: center
		margin-bottom: 10px
		margin-top: -131px
		position: relative
		left: -2px
		margin-bottom: 30px
	.characteristics-of-patients
		width: 100%
		font-size: 12px
	.title-line
		width: 100%
	.picture-one
		width: 100%
	.picture-two
		width: 100%
	.picture-three
		width: 100%
	.issn
		text-align: right
	.wrapper-two-table table
		font-size: 10px
//Extra small: >0
+media-breakpoint-down(xs)
	.title-site-bg
		font-size: 28px
	.title-site
		font-size: 28px
		margin-top: -86px
		margin-bottom: 30px
	.menu
		padding-left: 0px
	.text-effect-rus
		font-size: 19px
		margin-top: 20px
	.name-effect-rus
		font-size: 19px
		margin-top: 10px
		margin-bottom: 10px
	.form-where-effect-rus
		font-size: 18px
	.determination-psoriaz
		font-size: 13px
	.text-last-two-years
		font-size: 15px
	.actual-question
		font-size: 13px
	.to-day
		font-size: 15px
	.value-table
		font-size: 15px
	.name-table
		font-size: 15px
	.wrapper-two-table table
		font-size: 8px
	.issn
		font-size: 15px
	.support-seldjen
		font-size: 15px
	.begin-year
		font-size: 15px
	.wrapper-firs-table
		margin-left: auto
		margin-right: auto
		width: 100%
	.pop-up-annotation
		width: 90%
		margin-left: auto
		margin-right: auto
		.icon-close
			right: 0px
			top: -30px
	.pop-up-literal
		width: 90%
		margin-left: auto
		margin-right: auto
		.icon-close
			right: 0px
			top: -30px
	.actual-question
		padding-right: 5px
	.determination-psoriaz
		text-align: center
	.text-last-two-years
		text-align: center
	.title-actual-questions
		text-align: left
	.actual-question span
		text-align: center
	.actual-question li
		text-align: left
	.to-day p
		text-align: center
	.text-annotation
		text-align: left
	.text-literal
		text-align: left
/*==========  Mobile First  ==========*/

//Extra small: <576px
+media-breakpoint-up(xs)

//Small: ≤576px
+media-breakpoint-up(sm)

//Medium: ≤768px
+media-breakpoint-up(md)

//Large: ≤992px
+media-breakpoint-up(lg)

//Extra large: ≤1200px
+media-breakpoint-up(xl)
