/* font-family: "MuseoSansRegular"; */
@font-face {
    font-family: "MuseoSansRegular";
    src: url("../fonts/MuseoSansRegular/MuseoSansRegular.eot");
    src: url("../fonts/MuseoSansRegular/MuseoSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansRegular/MuseoSansRegular.woff") format("woff"),
    url("../fonts/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MuseoSansBold"; */
@font-face {
    font-family: "MuseoSansBold";
    src: url("../fonts/MuseoSansBold/MuseoSansBold.eot");
    src: url("../fonts/MuseoSansBold/MuseoSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansBold/MuseoSansBold.woff") format("woff"),
    url("../fonts/MuseoSansBold/MuseoSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MuseoSansItalic"; */
@font-face {
    font-family: "MuseoSansItalic";
    src: url("../fonts/MuseoSansItalic/MuseoSansItalic.eot");
    src: url("../fonts/MuseoSansItalic/MuseoSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansItalic/MuseoSansItalic.woff") format("woff"),
    url("../fonts/MuseoSansItalic/MuseoSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MuseoSansLight"; */
@font-face {
    font-family: "MuseoSansLight";
    src: url("../fonts/MuseoSansLight/MuseoSansLight.eot");
    src: url("../fonts/MuseoSansLight/MuseoSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansLight/MuseoSansLight.woff") format("woff"),
    url("../fonts/MuseoSansLight/MuseoSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MuseoSansMedium"; */
@font-face {
    font-family: "MuseoSansMedium";
    src: url("../fonts/MuseoSansMedium/MuseoSansMedium.eot");
    src: url("../fonts/MuseoSansMedium/MuseoSansMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansMedium/MuseoSansMedium.woff") format("woff"),
    url("../fonts/MuseoSansMedium/MuseoSansMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MuseoSansBlack"; */
@font-face {
    font-family: "MuseoSansBlack";
    src: url("../fonts/MuseoSansBlack/MuseoSansBlack.eot");
    src: url("../fonts/MuseoSansBlack/MuseoSansBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansBlack/MuseoSansBlack.woff") format("woff"),
    url("../fonts/MuseoSansBlack/MuseoSansBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MuseoSansBoldItalic"; */
@font-face {
    font-family: "MuseoSansBoldItalic";
    src: url("../fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.eot");
    src: url("../fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.woff") format("woff"),
    url("../fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MuseoSansMediumItalic"; */
@font-face {
    font-family: "MuseoSansMediumItalic";
    src: url("../fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.eot");
    src: url("../fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.woff") format("woff"),
    url("../fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MuseoSansLightItalic"; */
@font-face {
    font-family: "MuseoSansLightItalic";
    src: url("../fonts/MuseoSansLightItalic/MuseoSansLightItalic.eot");
    src: url("../fonts/MuseoSansLightItalic/MuseoSansLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansLightItalic/MuseoSansLightItalic.woff") format("woff"),
    url("../fonts/MuseoSansLightItalic/MuseoSansLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MuseoSansBlackItalic"; */
@font-face {
    font-family: "MuseoSansBlackItalic";
    src: url("../fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.eot");
    src: url("../fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.woff") format("woff"),
    url("../fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/*museo_cyrl100*/
@font-face {
    font-family: 'museo_cyrl100';
    src: url('../fonts/Museo100/museo_cyrl_100.eot');
    src: url('../fonts/Museo100/museo_cyrl_100.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo100/museo_cyrl_100.woff2') format('woff2'),
         url('../fonts/Museo100/museo_cyrl_100.woff') format('woff'),
         url('../fonts/Museo100/museo_cyrl_100.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*museo_cyrl100_italic*/
@font-face {
    font-family: 'museo_cyrl100_italic';
    src: url('../fonts/Museo100Italic/museo_cyrl_100_italic.eot');
    src: url('../fonts/Museo100Italic/museo_cyrl_100_italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo100Italic/museo_cyrl_100_italic.woff2') format('woff2'),
         url('../fonts/Museo100Italic/museo_cyrl_100_italic.woff') format('woff'),
         url('../fonts/Museo100Italic/museo_cyrl_100_italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*museo_cyrl300*/
@font-face {
    font-family: 'museo_cyrl300';
    src: url('../fonts/Museo300/museo_cyrl_300.eot');
    src: url('../fonts/Museo300/museo_cyrl_300.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo300/museo_cyrl_300.woff2') format('woff2'),
         url('../fonts/Museo300/museo_cyrl_300.woff') format('woff'),
         url('../fonts/Museo300/museo_cyrl_300.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*museo_cyrl300_italic*/
@font-face {
    font-family: 'museo_cyrl300_italic';
    src: url('../fonts/Museo300Italic/museo_cyrl_300_italic.eot');
    src: url('../fonts/Museo300Italic/museo_cyrl_300_italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo300Italic/museo_cyrl_300_italic.woff2') format('woff2'),
         url('../fonts/Museo300Italic/museo_cyrl_300_italic.woff') format('woff'),
         url('../fonts/Museo300Italic/museo_cyrl_300_italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*museo_cyrl500*/
@font-face {
    font-family: 'museo_cyrl500';
    src: url('../fonts/Museo500/museo_cyrl_500.eot');
    src: url('../fonts/Museo500/museo_cyrl_500.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo500/museo_cyrl_500.woff2') format('woff2'),
         url('../fonts/Museo500/museo_cyrl_500.woff') format('woff'),
         url('../fonts/Museo500/museo_cyrl_500.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*museo_cyrl500_italic*/
@font-face {
    font-family: 'museo_cyrl500_italic';
    src: url('../fonts/Museo500Italic/museo_cyrl_500_italic.eot');
    src: url('../fonts/Museo500Italic/museo_cyrl_500_italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo500Italic/museo_cyrl_500_italic.woff2') format('woff2'),
         url('../fonts/Museo500Italic/museo_cyrl_500_italic.woff') format('woff'),
         url('../fonts/Museo500Italic/museo_cyrl_500_italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*museo_cyrl700*/
@font-face {
    font-family: 'museo_cyrl700';
    src: url('../fonts/Museo700/museo_cyrl_700.eot');
    src: url('../fonts/Museo700/museo_cyrl_700.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo700/museo_cyrl_700.woff2') format('woff2'),
         url('../fonts/Museo700/museo_cyrl_700.woff') format('woff'),
         url('../fonts/Museo700/museo_cyrl_700.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*museo_cyrl700_italic*/
@font-face {
    font-family: 'museo_cyrl700_italic';
    src: url('../fonts/Museo700Italic/museo_cyrl_700_italic.eot');
    src: url('../fonts/Museo700Italic/museo_cyrl_700_italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo700Italic/museo_cyrl_700_italic.woff2') format('woff2'),
         url('../fonts/Museo700Italic/museo_cyrl_700_italic.woff') format('woff'),
         url('../fonts/Museo700Italic/museo_cyrl_700_italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*museo_cyrl900*/
@font-face {
    font-family: 'museo_cyrl900';
    src: url('../fonts/Museo900/museo_cyrl_900.eot');
    src: url('../fonts/Museo900/museo_cyrl_900.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo900/museo_cyrl_900.woff2') format('woff2'),
         url('../fonts/Museo900/museo_cyrl_900.woff') format('woff'),
         url('../fonts/Museo900/museo_cyrl_900.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
/*museo_cyrl900_italic*/
@font-face {
    font-family: 'museo_cyrl900_italic';
    src: url('../fonts/Museo900Italic/museo_cyrl_900_italic.eot');
    src: url('../fonts/Museo900Italic/museo_cyrl_900_italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo900Italic/museo_cyrl_900_italic.woff2') format('woff2'),
         url('../fonts/Museo900Italic/museo_cyrl_900_italic.woff') format('woff'),
         url('../fonts/Museo900Italic/museo_cyrl_900_italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* font-family: "ArialNarrowRegular"; */
@font-face {
    font-family: "ArialNarrowRegular";
    src: url("../fonts/ArialNarrowRegular/ArialNarrowRegular.eot");
    src: url("../fonts/ArialNarrowRegular/ArialNarrowRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArialNarrowRegular/ArialNarrowRegular.woff") format("woff"),
    url("../fonts/ArialNarrowRegular/ArialNarrowRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}